*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator{
    height: 385px;
    border: 2px groove black;
    padding: 15px;
    background-color: black;
    border-radius: 10px;
}


#buttons{
display: grid;
width: 100%;
grid-template-columns: 64px 64px 64px 64px ;
grid-template-rows: 50px 50px 50px 50px 50px;
column-gap: 10px;
row-gap: 15px;
}

.btn{
    border-radius: 10px;
    background-color: lightskyblue;
    font-weight: bold;
    font-size: 20px;
    color: black;
    cursor: pointer;
    border: 2px solid white;

    
}

.btn:hover{
    background-color: black;
    color: white;

}

#display input{
    width: 255px;
    margin-left: 5px;
    padding: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-radius: 8px;
    border: 1px double red;
    font-size: 25px;
    font-weight: bold;
}

.del{
    grid-column: 1/4;
}

.plus{
    grid-row: 3/5;
    grid-column: 4;
}