*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    background-color: black;
}
header{
    height: 95vh;
    width: 100%;
    background-image: url(food.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.top-header{
    display: flex;
    background-color: transparent;
    padding: 8px;
    position: fixed;
}

.top-header:hover{
    background-color: orange;
    width: 100%;
}

.logo{
    /* padding: 5px; */
    padding-left: 30px;
}

.logo h1{
    font-weight: bolder;
    font-size: 45px;
    color: red;
    -webkit-text-stroke: 1px white; 
}

.logo h1:hover{
    color: black;
    -webkit-text-stroke: 1px red;
}

a, ul{
    text-decoration: none;
    list-style: none;
}

.nav-bar{
    padding-left: 270px;
}

.nav-bar ul{
    display: flex;
    padding-top: 18px;
    gap: 35px;
}

.nav-bar ul li{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.nav-bar ul li a{
    color: white;
}

.nav-bar ul li a:hover{
    color: black;
}

.search_icon{
    display: flex;
}

/* .search_icon img{
    height: 1px auto;
    padding-left: 40px;
} */

.search-container {
    position: relative;
    width: 200px; /* Adjust the width as needed */
  }
  
  #search {
    width: 100%;
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid black; /* Change the color to your desired underline color */
    outline: none;
    font-size: 16px; /* Adjust the font size as needed */
    padding: 5px 0; /* Adjust padding as needed */
    transition: border-bottom 0.3s ease; /* Add a smooth transition effect */
    background: transparent;
    color: white;
  }
  
  #search::placeholder {
    color: white;
    opacity: 50%; /* Change the color of the placeholder text */
  }
  
  #search:focus {
    border-bottom: 2px solid red; /* Change the color of the underline when focused */
  }
  
  #header_text{
        padding: 170px 0px 0px 100px ;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #header_text h2{
    color: blue;
    font-size: 70px;
}

#order_btn{
    border-radius: 30px;
    background-color: orange;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 8px;
    margin: 30px 0 0 15px;
}

#order_btn:hover{
    background-color: black;
}

#order_btn a{
    color: white;
    font-family: "Roboto", sans-serif;
}

#order_btn a:hover{
    color: red;
}

#fb{
    height: 28px;
}

#insta{
    margin-top: 17px;
    height: 31px;
}
#social_icons{
    margin-left: 35px ;
}

.about{
    display: flex;
    padding-top: 50px;
}

.about p{
    font-size: 25px;
    color: white;
    padding: 40px 0 0 30px;
    text-align: center;
}

.about_txt{
    width: 60%;
}

.about_img{
    padding: 70px 100px;
}

.about_img img{
    position: cover;
    background-repeat: no-repeat;
    height: 250px;
    border-radius: 50%;
}