*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}
header{
    height: 98vh;
    width: 100%;
    background-image: url(food.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.top-header{
    display: flex;
    background-color: transparent;
    transition: background-color 0.3s ease; 
    padding: 8px;
    position: fixed;
}

.top-header.scrolled {
    background-color: orange;
    width: 100%;
  }

.top-header:hover{
    background-color: orange;
    width: 100%;
}

.logo{
    padding-left: 20px;
}

.logo h1{
    font-weight: bolder;
    font-size: 45px;
    color: red;
    -webkit-text-stroke: 1px white; 
}

.logo h1:hover{
    color: black;
    -webkit-text-stroke: 1px red;
}

.top-header.scrolled .logo h1{
    color: black;
    -webkit-text-stroke: 1px red;
}

a, ul{
    text-decoration: none;
    list-style: none;
}

.nav-bar{
    padding-left: 200px;
}

.nav-bar ul{
    display: flex;
    padding-top: 18px;
    gap: 35px;
}

.nav-bar ul li{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.nav-bar ul li a{
    color: white;
    font-weight: bold;
}

.nav-bar ul li a:hover{
    color: black;
}

.search_icon{
    display: flex;
}

.search-container {
    position: relative;
    width: 200px; 
  }
  
  #search {
    width: 100%;
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid black; 
    outline: none;
    font-size: 16px; 
    padding: 5px 0; 
    transition: border-bottom 0.3s ease; 
    background: transparent;
    color: white;
  }
  
  #search::placeholder {
    color: white;
    opacity: 50%; 
  }
  
  #search:focus {
    border-bottom: 2px solid red; 
  }
  
  #header_text{
        padding: 170px 0px 0px 100px ;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #header_text h2{
    color: blue;
    font-size: 70px;
    -webkit-text-stroke: 1px black;
}

#order_btn{
    border-radius: 15px;
    background-color: orange;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    margin: 30px 0 0 15px;
}

#order_btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}


#fb{
    height: 28px;
}

#insta{
    margin-top: 17px;
    height: 31px;
}
#social_icons{
    margin-left: 35px ;
}

.about{
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;

}

.about p{
    font-size: 25px;
    color: white;
    padding: 40px 0 0 30px;
    text-align: center;
}

.about_txt{
    width: 60%;
}

.about_img{
    padding: 50px 100px;
}

.about_img img{
    position: cover;
    background-repeat: no-repeat;
    height: 250px;
    border-radius: 50%;
}

#menu, #contact{
    text-align: center;
    color: red;
    background-color: black;
    font-size: 40px;
    padding-top: 30px;
}


.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu-item {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: orange;
}

.menu-item img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.menu-item h3 {
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
}

#menu p{
    color: red;
    font-weight: bold;
    font-size: 30px;
}

#contact{
    margin-top: 40px;
    margin-bottom: 90px;
}

#contact_sec{
    display: flex;
    flex-direction: row;
    padding-left: 70px;
    padding-top: 30px;
}

.contact_details{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 30px 10px 20px 10px;
    color: white;
    font-size: 27px;
    justify-content: center;
}

.icon{
    width: 60%;
    align-items: center;
    background-color: orange;
    border-radius: 100%;
    margin-left: 75px;
    margin-bottom: 10px;
}

#footer{
    display: flex;
    flex-direction: row;
    background-color: orange;
}

#footer_logo{
    width: 30%;
}

#footer_logo img{
    width: 350px;
    height: 350px;
}

#footer_nav{
    width: 30%;
    padding: 50px;
    padding-right: 100px;
    padding-bottom: 0px;
    align-items: center;
}

#footer_nav a{
    text-align: center;
    color: white;
    font-size: 23px;
    font-weight: bold;
}

#footer_nav a:hover{
    color: red;
}

#footer_nav ul li{
    margin-top: 18px;
    text-align: center;
}

.nav_items{
    margin-bottom: 200px;
}

#map img{
    height: 280px;
    width: 280px;
    padding-top: 30px;
    padding-left: 50px;
}

#copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    background-color: black;
    font-size: 15px;
    color: white;
}

#copyright:before,
#copyright:after {
    content: '';
    flex: 1;
    height: 2px;
    background-color: white;
    margin: 10px 10px;
}


